* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  gap: 4px;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
  min-height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-area: header;
  align-items: center;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sidebar {
  display: grid;
  background-color: #C50208;
  grid-area: sidebar;
  gap: 50px;
  }

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}